{{#if error}}
    <div>
        <h1>{{message}}</h1>
    </div>
{{/if}}
{{#if success}}
    <div>
        <h1>File uploaded to S3 successfully!</h1>
        <p>
            You can view it <a href={{data.Location}}>here</a>!
        </p>
    </div>
{{/if}}
<div>
    <h1>Welcome to the resume upload tool!</h1>
    <p>Please upload your resume here: </p>
    <form method='post' enctype="multipart/form-data">
        <input type='file'
        accept=
        'text/plain,
        application/msword,
        application/vnd.openxmlformats-officedocument.wordprocessingml.document,
        application/pdf,
        application/vnd.oasis.opendocument.text'
        name='file' />
        <input type='submit' value='Upload to S3'/>
    </form>
</div>
